<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="search">
		  <input ng-model="id" ng-pattern="/^\d+$/" name="pokemon" class="my-input"
		         aria-describedby="inputDescription" />
		<br />
		{{id}}
		<br />
		<input type="text" placeholder="filtre sur liste déroulante" ng-model="filterPokemon" />
		  <select ng-model="selectPokemon">
			<option ng-repeat="aPokemon in api | filter:filterPokemon:customComparator " value="{{aPokemon.url}}">{{aPokemon.name}}</option>
		  </select>
		  <button ng-click="displayInfos(selectPokemon)">Afficher infos</button>
        {{ selectPokemon }}
        <br /><br />
		<!-- Pokémon information -->
        <h3>Informations sur le pokémon</<h3>
        <br /><br />

         <ul>
          <li ng-repeat="info in infos">
            <b>{{ info.nom }}</b> : {{ info.value }}
          </li>
        </ul> 
		</div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
