<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<div class="col-sm-12">
			<h1>Pokésir</h1>
		</div>
		
		
		<!-- Search -->
		<div ng-controller="search">
			<div class="col-sm-3">
				<div class="form-group">
		  			<input ng-model="id" ng-pattern="/^\d+$/" name="pokemon" class="my-input form-control" placeholder="Entrez l'id du pokémon voulu" aria-describedby="inputDescription" />
				</div>
			</div>
			<div class="row"></div>

			<div class="col-sm-3">
				<div class="form-group">
					<input type="text" placeholder="filtre sur liste déroulante" ng-model="filterPokemon" class="form-control" />
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
			  		<select ng-model="selectPokemon" class="form-control">
						<option ng-repeat="aPokemon in api | filter:filterPokemon:customComparator " value="{{aPokemon.url}}">{{aPokemon.name}}</option>
			  		</select>
				</div>
			</div>
			<div class="col-sm-3">
			  	<button ng-click="displayInfos(selectPokemon, id)" class="btn btn-default">Afficher infos</button>
	        </div>
	        <br /><br />
	        
			<!-- Pokémon information -->
			<div class="col-sm-12"><hr></div>
			<div class="col-sm-12">
	        	<h3>Informations sur le pokémon</h3>
	        </div>
	        <div class="row"></div>
		   
	   		<div class="col-sm-2">
	        	<img alt="" src="{{ sprite }}">
			</div>
			
			<div class="col-sm-10">
	        <ul>
	          	<li ng-repeat="info in infos">
	            	<b>{{ info.nom }}</b> : {{ info.value }}
	          	</li>
	        </ul>
	        </div> 
		</div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
